%div.side__user
  %ul.side__list
    %li.side__list__name Hiroshi Muto
    %li.side__list__edit-group
      = link_to "#" do
        %i.fa.fa-cog
    %li.side__list__edit-user
      = link_to "#" do
        %i.fa.fa-edit
%div.side__group
  %ul.side__list
    %li.side__list-group グループ名
    %li.side__list-message まだメッセージはありません。
    %li.side__list-group グループ名
    %li.side__list-message まだメッセージはありません。
    %li.side__list-group グループ名
    %li.side__list-message まだメッセージはありません。
    %li.side__list-group グループ名
    %li.side__list-message まだメッセージはありません。
    %li.side__list-group グループ名
    %li.side__list-message まだメッセージはありません。
    %li.side__list-group グループ名
    %li.side__list-message まだメッセージはありません。
    %li.side__list-group グループ名
    %li.side__list-message まだメッセージはありません。
    %li.side__list-group グループ名
    %li.side__list-message まだメッセージはありません。
    %li.side__list-group グループ名
    %li.side__list-message まだメッセージはありません。
    %li.side__list-group グループ名
    %li.side__list-message まだメッセージはありません。
    %li.side__list-group グループ名
    %li.side__list-message まだメッセージはありません。
