%div.chat__messages
  %li.user-name
    %p hiroshimuto
  %li.send-time
    %p 2018/09/01 11:11:11
  %li.send-message
    %p 仮入れ投稿
  %li.user-name
    %p hiroshimuto
  %li.send-time
    %p 2018/09/01 11:11:11
  %li.send-message
    %p 仮入れ投稿
  %li.user-name
    %p hiroshimuto
  %li.send-time
    %p 2018/09/01 11:11:11
  %li.send-message
    %p 仮入れ投稿
  %li.user-name
    %p hiroshimuto
  %li.send-time
    %p 2018/09/01 11:11:11
  %li.send-message
    %p 仮入れ投稿
  %li.user-name
    %p hiroshimuto
  %li.send-time
    %p 2018/09/01 11:11:11
  %li.send-message
    %p 仮入れ投稿
  %li.user-name
    %p hiroshimuto
  %li.send-time
    %p 2018/09/01 11:11:11
  %li.send-message
    %p 仮入れ投稿
  %li.user-name
    %p hiroshimuto
  %li.send-time
    %p 2018/09/01 11:11:11
  %li.send-message
    %p 仮入れ投稿
  %li.user-name
    %p hiroshimuto
  %li.send-time
    %p 2018/09/01 11:11:11
  %li.send-message
    %p 仮入れ投稿
  %li.user-name
    %p hiroshimuto
  %li.send-time
    %p 2018/09/01 11:11:11
  %li.send-message
    %p 仮入れ投稿
