%div.wrapper
  %div.notification
    %p.notice チャットグループが作成されました。
  %div.side
    %div.side__user
      %ul.side__list
        %li.side__list__name Hiroshi Muto
        %li.side__list__edit-group
          = link_to "#" do
            %i.fa.fa-cog
        %li.side__list__edit-user
          = link_to "#" do
            %i.fa.fa-edit
    %div.side__group
      %ul.side__list
        %li.side__list-group グループ名
        %li.side__list-message まだメッセージはありません。
        %li.side__list-group グループ名
        %li.side__list-message まだメッセージはありません。
        %li.side__list-group グループ名
        %li.side__list-message まだメッセージはありません。
  %div.main
    %div.chat__group
      %div.chat__group__info
        %p.name sampleグループ
        %p.member MEMBER: hiroshimuto
      %div.chat__group__edit
        %div.edit-box
          = link_to "#" do
            edit
    %div.chat__typespace
      %div.chat__box
        %form.text-box{action: "#"}
          %input.text-box__message{type: "text", placeholder: " type message"}/
          %input.text-box__button{type: "submit", value: "SEND"}/

