.chat__box{
  width:100%;
  padding:20px 0px;
  position: absolute;
  bottom: 0;
  background-color:#C0C0C0;
  line-height:50px;
  #upload-text{
    height:50px;
    margin-left: 40px;
    border:none;
    text-indent: 10px;
    width:calc(100vw - 300px - 135px - 40px);
  }
  .upload-label{
    position:absolute;
    top: 20px;
    right: 145px;
    #upload-icon{
      display:none;
    }

  }
  #button{
    height:50px;
    margin-left: 15px;
    margin-right: 40px;
    border:none;
    background-color:#38AEF0;
    color:$mainWhiteColor;
    width:80px;
    float:right;
  }
}
